body {

  color: #0c0c0cfd;
  background-color: gainsboro;
}
.jumbotron {
  background-image: url("../images/bacteria.jpg");
  background-size: 100% 200%;
  text-align: center;
  color: rgba(233, 12, 12, 0.993);
}
.col-md-2{
  background:gainsboro;
} 